# Weekly/Monthly executions
0 0 * * 0 perl /root/backup.pl --rootdir=/backup/weekly --outdir=/backup/out/weekly
0 0 1 * * perl /root/backup.pl --rootdir=/backup/monthly --outdir=/backup/out/monthly

# Testing (every 5 minutes)
#*/5 * * * * perl /root/backup.pl --rootdir=/backup/weekly --outdir=/backup/out/weekly
